*,
*::after,
*::before {
  box-sizing: border-box;
}

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #333;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", "sans-serif";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.attempt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.attempt-container h2 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.45rem;
  font-size: 1.25rem;
  color: white;
}

.attempts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.attempts .circle {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: rgb(93, 205, 104);
}

.circle-failed {
  background-color: #bbb !important;
}

.grid {
  display: grid;
}

.grid-container {
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.75rem;
}

.grid-card {
  box-sizing: border-box;
  width: 8rem;
  height: 11rem;
  /* background-color: rgb(191 219 254); */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front {
  background-color: #bbb;
  color: black;
}

.card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.rotate {
  transform: rotateY(180deg);
}

.matched {
  pointer-events: none;
  border: 0.25rem solid rgb(86, 232, 86);
}

.delayed-rotate {
  transition-delay: 200ms;
}

.disabled {
  pointer-events: none;
  border: 0.25rem solid rgb(232, 86, 86);
}

.active {
  pointer-events: none;
  outline: 0.25rem solid black;
  animation: active-glow 0.3s infinite alternate-reverse ease-in-out;
}

@keyframes active-glow {
  0% {
    outline: 0.25rem solid rgb(198, 198, 198);
  }
  100% {
    outline: 0.25rem solid rgb(123, 123, 123);
  }
}

@media (max-width: 560px) {
  .grid-card {
    width: 4.8rem;
    height: 8.5rem;
  }

  .title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .attempt-container h2 {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
  }

  .attempts .circle {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: rgb(93, 205, 104);
  }
}
