*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 31);
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 31, 31);
  justify-content: center;
  align-items: center;
  font-family: "Raleway", "sans-serif";
  position: relative;
  transition: 0.3s ease-in-out;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-hidden {
  visibility: hidden;
}

.menu-container {
  font-family: "Raleway", "sans-serif";
  width: 100vw;
  height: 100vh;
  background-color: rgb(162, 162, 162);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.btn-start {
  border: none;
  padding: 0.75rem 1.25rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
  background-color: rgb(222, 222, 222);
}

.btn-start:hover {
  background-color: white;
}

.menu-hide {
  animation: menu-fadeout 0.5s forwards;
}

.menu-show {
  animation: menu-fadein 0.5s forwards;
}

@keyframes menu-fadein {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.card-amount-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 1rem;
  user-select: none;
}

.title-secondary {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.button-options {
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.button-options .btn-option {
  text-transform: uppercase;
  border: 3px solid rgb(31, 31, 31);
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.15s ease;
}

.button-options .btn-option:hover {
  color: white;
  background-color: rgb(31, 31, 31);
  cursor: pointer;
}

.option-selected {
  background-color: rgb(31, 31, 31);
  color: white;
}

.popup-container {
  text-transform: uppercase;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  font-size: 1.5rem;
  user-select: none;
  border-radius: 10px;
  align-self: top;
  justify-self: center;
}

.popup-container h1 {
  font-weight: 600;
}

.popup-hidden {
  visibility: hidden;
}

#popup-message {
  font-weight: 600;
}

.btn-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  background-color: white;
  font-weight: 500;
  cursor: pointer;
}

.btn-restart {
  border: 3px solid rgb(31, 31, 31);
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.15s ease;
}

.btn-restart:hover {
  color: white;
  background-color: rgb(31, 31, 31);
}

.btn-to-menu {
  font-size: 1.1rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.15s ease;
}

.btn-to-menu:hover {
  border-bottom: 2px solid black;
}

.btn-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.in-game.btn {
  background-color: white;
  color: black;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  user-select: none;
}

.in-game.btn-to-menu {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
}

.in-game.btn-to-menu:hover {
  border: none;
}

.in-game.btn-container {
  margin: 0;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container {
  height: auto;
  width: auto;
  margin-bottom: 0.5%;
}

.title-menu {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-bottom: 3rem;
  user-select: none;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  user-select: none;
}

#subtitle,
#attempts {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.45rem;
  font-size: 1.25rem;
  color: white;
  user-select: none;
}

#attempts {
  color: rgb(153, 255, 162);
  font-size: 1.5rem;
  padding-right: 0.25rem;
}

.grid {
  display: grid;
  user-select: none;
  gap: 0.75rem;
}

.grid-12 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-24 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-36 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-36 .grid-card {
  width: 6rem;
  height: 9rem;
}

.grid-card {
  box-sizing: border-box;
  width: 8rem;
  height: 11rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10.5px;
}

.card-front {
  background: rgb(96, 96, 96);
  background: radial-gradient(
    circle,
    rgba(96, 96, 96, 1) 0%,
    rgba(65, 65, 65, 1) 100%
  );
  border: 0.3rem solid rgb(128, 128, 128);

  color: black;
}

.card-back {
  background: rgb(106, 188, 255);
  background: radial-gradient(
    circle,
    rgba(106, 188, 255, 1) 0%,
    rgba(19, 112, 189, 1) 100%
  );
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.rotate {
  transform: rotateY(180deg);
}

.matched {
  pointer-events: none;
  border: 0.3rem solid rgb(86, 232, 86);
  border-radius: 15.5px;
}

.delayed-rotate {
  transition-delay: 200ms;
}

.disabled {
  pointer-events: none;
  border: 0.3rem solid rgb(232, 86, 86);
  border-radius: 15.5px;
}

.noclick {
  pointer-events: none;
}

.active {
  pointer-events: none;
  border: 0.3rem solid black;
  animation: active-glow 0.3s infinite alternate-reverse ease-in-out;
  border-radius: 15.5px;
}

@keyframes active-glow {
  0% {
    border: 0.3rem solid rgb(198, 198, 198);
  }
  100% {
    border: 0.3rem solid rgb(123, 123, 123);
  }
}

@media (max-width: 1150px) {
  .grid-card {
    width: 4.8rem;
    height: 7.5rem;
  }
  .grid-36 .grid-card {
    width: 4.5rem;
    height: 7rem;
  }
}

@media (max-width: 980px) {
  .grid-36 .grid-card {
    width: 3rem;
    height: 5.5rem;
  }
}

@media (max-width: 720px) {
  .grid-card {
    width: 3.8rem;
    height: 6rem;
  }

  .grid-36 .grid-card {
    width: 3rem;
    height: 5rem;
  }

  .grid-36 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  #btn-24,
  #btn-36 {
    display: none;
  }

  .title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
